{{!-- <link rel="stylesheet" href="/css/barra.css">
<main class="index">
    <div id="fillRangeValue"></div>
    <header class="masthead">
        <div class="container text-center my-auto ">
            <div class="row">                
                <div class="col col-lg-4 col-md-0">
                    <img src="img/corazon.png" alt="Corazon" class="img-responsive d-none d-lg-block">
                </div>
                <div class="col col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="mb-2">Health-Corporis</h1>
                    <h3 class="mb-5"> <em>Esfuerzate para llevar una nutrición dieta, es la mejor inversión para tu
                            cuerpo y
                            mente que puedes hacer.</em> </h3>                    
                </div>
            </div>
            <div class="row" style="margin-top: 4rem;">
                <div class="col-lg-12 col-center">
                    <h2>¿Qué tan saludable te sientes hoy?</h2>
                    <h2 id="rangeValue"></h2>                    
                    <input type="range" name="" class="range" value="0" min="0" max="100"
                        onmousemove="rangeSlider(this.value)" onchange="rangeSlider(this.value)">
                    <div class="mt-2">
                        <a href="/login" class="btn btn-primary">¡Empezemos!</a>
                    </div>                    
                </div>
            </div>
        </div>
    </header>
</main>
<script type="text/javascript">
    function rangeSlider(value) {
        document.getElementById('rangeValue').innerHTML = value;
        document.getElementById('fillRangeValue').style.width = +value + "%";
    }
</script> --}}
<link rel="stylesheet" href="/css/index.css">
<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">HEALTH-CORPORIS</h1>
            <h3 class="mb-5">
                <em>Store you favorite links</em>
                <a href="/login" class="btn btn-primary">
                    Let's get started</a>
            </h3>
        </div>
    </header>
</main>