<style>
    .mimg{        
        height: 50%;
    }
    .card{
        width:80%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s6 m6 l6">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/ejerciciosUsu.jpg" class="mimg">
                        </div>
                        <div lass="card-action row">                            
                            <a href="/user/exercises" class="col s12 btn blue lighten-2">Mis ejercicios</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m6 l6">
            <div class="row">                
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/graficas.jpg" class="mimg" >
                        </div>
                        <div lass="card-action row">                            
                            <a href="/user/seguimiento" class="col s12 btn purple accent-1">Gráfica de seguimiento</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col s6 m6 l6">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/frecuencia.jpg" class="mimg">
                        </div>
                        <div lass="card-action row">                            
                            <a href="/user/frecuencia" class="col s12 btn blue lighten-2">Intensidad de ejercicios</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m6 l6">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/editar.jpg" class="mimg">
                        </div>
                        <div lass="card-action row">                            
                            <a href="/user/editprofile" class="col s12 btn red accent-2">Editar perfil</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>