<link rel="stylesheet" href="/css/tips.css">
<div class="Pcontenido quitar">
    <div class="container-fluid">
        <div class="container">
            <div class="tips">
                {{#each tips}}

                <div class="card" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">{{tit_con}}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{des_con}}</p>
                    </div>
                </div>

                {{else}}
                <div class="col-md-4 mx-auto" style="color: #1e1e1e;">
                    <div class="card card-body text-center">
                        <p>Lastima aún no tenemos algo que aconsejarte... Vuelve mañana.</p>
                        <i class="fas fa-sad-tear"></i>
                    </div>
                </div>
                {{/each}}

                <div class="card" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">Practicar Deporte</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Realización de deporte. El deporte es una de las mejores maneras de
                            mantenernos jóvenes y en perfectas condiciones, ya que ayuda a nuestro organismo a estar
                            activo y a nuestros músculos a mantenerse tonificados y fuertes. </p>
                    </div>
                </div>



                <div class="card" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">Respetar el Descanso</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">El descanso otro punto que se tiene que tener en cuenta, y es que es
                            importante que durmamos entre siete u ocho horas diarias para que nuestro organismo esté en
                            perfectas condiciones.</p>
                    </div>
                </div>



                <div class="card" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">Mantener una alimentación adecuada</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Mantener una alimentación que debe ser variada. Seguir una dieta en la que
                            estén presentes diferentes tipos de alimentos es esencial para conseguir una buena salud.
                        </p>
                    </div>
                </div>



                <div class="card" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">Cuidado con las grasas saturadas</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Dejar de lado las grasas saturadas y su abuso es otro consejo. Es
                            importante que ingiramos grasas, ya que nuestro cuerpo las necesita para poder vivir, pero
                            es importante que sepamos qué tipos de grasas son las adecuadas para mantener una buena
                            salud.</p>
                    </div>
                </div>



                <div class="card mb-3" style="max-width: 20rem;">
                    <div class="card-header">
                        <h4 class="card-title">Realizar cinco comidas</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">No saltarnos ninguna comida es esencial para estar en plena forma. Pasar
                            hambre es lo peor que podemos hacer a la hora de mantenernos sanos. Es necesario mantener un
                            control de las horas de la comida y respetarlo. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>