<style>
    .container{
        margin-top: 2rem;
    }
    .tips {        
        display: grid;
        grid-template-columns: repeat(3, 1fr);        
        grid-template-rows: minmax(2rem, auto);
        grid-gap: 3rem;        
    }

    p {
        text-align: justify;
    }
</style>
<div class="container">
    <div class="tips">
        <div class="col s12 m3 l3 ">
            <div class="row">
                <div class="card deep-purple accent-1">
                    <div class="card-content white-text text-flow">
                        <span class="card-title">Practicar Deporte</span>
                        <p>Realización de deporte. El deporte es una de las mejores maneras de
                            mantenernos jóvenes y en perfectas condiciones, ya que ayuda a nuestro organismo a estar
                            activo y a nuestros músculos a mantenerse tonificados y fuertes. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3 ">
            <div class="row">
                <div class="card deep-purple accent-1">
                    <div class="card-content white-text text-flow">
                        <span class="card-title">Respetar el Descanso</span>
                        <p>El descanso otro punto que se tiene que tener en cuenta, y es que es
                            importante que durmamos entre siete u ocho horas diarias para que nuestro organismo esté en
                            perfectas condiciones.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3 ">
            <div class="row">
                <div class="card deep-purple accent-1">
                    <div class="card-content white-text text-flow">
                        <span class="card-title">Mantener una alimentación adecuada</span>
                        <p>Mantener una alimentación que debe ser variada. Seguir una dieta en la que
                            estén presentes diferentes tipos de alimentos es esencial para conseguir una buena salud.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3 ">
            <div class="row">
                <div class="card deep-purple accent-1">
                    <div class="card-content white-text text-flow">
                        <span class="card-title">Cuidado con las grasas saturadas</span>
                        <p>Dejar de lado las grasas saturadas y su abuso es otro consejo. Es
                            importante que ingiramos grasas, ya que nuestro cuerpo las necesita para poder vivir, pero
                            es importante que sepamos qué tipos de grasas son las adecuadas para mantener una buena
                            salud.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l3 ">
            <div class="row">
                <div class="card deep-purple accent-1">
                    <div class="card-content white-text text-flow">
                        <span class="card-title">Realizar cinco comidas</span>
                        <p>No saltarnos ninguna comida es esencial para estar en plena forma. Pasar
                            hambre es lo peor que podemos hacer a la hora de mantenernos sanos. Es necesario mantener un
                            control de las horas de la comida y respetarlo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>