.login-bg {
  background-image: url("/img/flat-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
}
.formulario-login{
  display: flex;
  margin: center;
  align-items: center;
  background: red;
  max-width: 800px;
}
