.nav-wrapper a:hover {
    color: white;
    text-decoration: none;
}

#contentWrap {
    display: none;
}

#chat {
    overflow-y: scroll;
    height: 300px;
}

#Entrar { 
    background: #fcaf17;
}

.error {
    color: #e31f26;
    
}

.whisper {
    color: gray;
    font-style: italic;
}

.older {
    color: #005693;
    font-family: "Courier New", Courier, monospace;
}

.old-admin {
    color: #005693;
    font-style: italic;
}

#Usuarios-S {
    width: 100px;
}
