{{#if Error}}
<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Error</span>
        <p>{{Error}}</p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>
{{/if}}
{{#if Exito}}
<ul class="collection">
    <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Exito</span>
        <p>{{Exito}}</p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>
{{/if}}