<div class="sidebar">
        <h2>Menu</h2>
        <h3>{{user.nom_usu}}</h3>
        <ul>                                                       
                <li class="pri"><a href="/profile">Inicio</a></li>
                <li class="pri"><a href="/user/tracing" class="getData" id="getData">Ver seguimiento</a></li>
                <li class="pri">
            <div class="dropdown">
                <a href="" id="dropdownMenuLink" data-toggle="dropdown">Ejercicios</a>
                <ul>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="sub"><a href="/user/exercises"  class="dropdown-item">Añadir Ejercicios</a></li>
                        <li class="sub"><a href="/user/doexercises" class="dropdown-item">Visaulizar Ejercicios</a></li>
                    </div>
                </ul>
            </div>
        </li>
                <li class="pri"><a href="/user/tips">Consejos</a></li>
                <li class="pri"><a href="/logout">Cerrar Sesion</a></li>
        </ul>
</div>