<div class="sidebar">
    <h2>Menu</h2>
    <h3>Administrador</h3>
    <ul>
        <li class="pri"><a href="/admin/users">Usuarios</a></li>
        {{!-- <li class="pri"><a href="/admin/food">Alimentos</a></li>        
        <li class="pri">
            <div class="dropdown">
                <a href="" id="dropdownMenuLink" data-toggle="dropdown">Grupos Alimenticios</a>
                <ul>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="sub"><a href="/admin/food2"  class="dropdown-item">Frutas</a></li>
                        <li class="sub"><a href="/admin/food3" class="dropdown-item">Verduras</a></li>
                        <li class="sub"><a href="/admin/food9" class="dropdown-item">Cereales</a></li>
                        <li class="sub"><a href="/admin/food7" class="dropdown-item">Leguminosas</a></li>
                        <li class="sub"><a href="/admin/food6" class="dropdown-item">Origen Animal</a></li>
                        <li class="sub"><a href="/admin/food5" class="dropdown-item">Colaciones</a></li>
                        <li class="sub"><a href="/admin/food4" class="dropdown-item">Leche y Sustitutos</a></li>
                        <li class="sub"><a href="/admin/food8" class="dropdown-item">Grasas</a></li>
                    </div>
                </ul>
            </div>
        </li> --}}
        <li class="pri">
            <div class="dropdown" >
                <a href="" id="dropdownMenuLink" data-toggle="dropdown">Ejercicios</a>
                    <ul>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li class="sub"><a href="/admin/exercises" class="dropdown-item">Ver todos</a></li>
                            <li class="sub"><a href="/admin/exercises/add" class="dropdown-item">Agregar</a></li>
                        </div>
                    </ul>
                
            </div>
        </li>
        {{!-- <li class="pri"><a href="#">Graficas</a></li> --}}
        <li class="pri"><a href="/admin/tips">Consejos</a></li>
        <li class="pri"><a href="/logout">Cerrar Sesion</a></li>
    </ul>
</div>