<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/img/office.jpg">
            </div>            
            <img class="circle" src="/img/admin.jpg">            
            <span class="white-text name">{{user.nombre}} {{user.apellido}}</span>
            <span class="white-text email">{{user.email_usu}}</span>
        </div>
    </li>
    <li><a class="waves-effect" href="/profile"><i class="material-icons">home</i>Menú</a></li>
    <li><a class="waves-effect" href="/admin/exercises"><i class="material-icons">directions_run</i>Mis ejercicios</a></li>
    <li><a class="waves-effect" href="/admin/consejos"><i class="material-icons">assessment</i>Seguimiento</a></li>
    <li><a class="waves-effect" href="/admin/graficas"><i class="material-icons">favorite</i>Frecuencia</a></li>
    <li><a class="waves-effect" href="/admin/usuarios"><i class="material-icons">account_circle</i>Perfil</a></li>
    <li><a class="waves-effect" href="/admin/users/chat"><i class="material-icons">message</i>Chat</a></li>
    <li><a class="waves-effect" href="/logout"><i class="material-icons">highlight_off</i>Cerrar Sesión</a></li>
</ul>
<script src="/js/sidenav.js"></script>  