<script src="/js/addExercise.js"></script>
<script src="/js/edit_ejercicios.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<style>
    .container {
        margin-bottom: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <h4>Editar ejercicio</h4>
            <div class="card">
                <div class="card-content">
                    <form action="/admin/editExercise/{{exercise.id_eje}}" method="post" enctype="multipart/form-data"
                        autocomplete="off" onsubmit="return validarAll()">
                        <div class="row">
                            <div class="input-field col-s6">
                                <select id="intensida" name="intensidad" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="2">Quemagrasa</option>
                                    <option value="3">Cardio</option>
                                    <option value="4">Alto Rendimiento</option>
                                </select>
                                <label>Intensidad del ejercicio</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col-s6">
                                <input value="{{exercise.nom_eje}}" placeholder="Nombre" id="nomeje" name="nomeje"
                                    type="text" required>
                                <label for="nomeje">Nombre del ejercicio</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col-s6">
                                <textarea id="description" name="description" class="materialize-textarea" required>{{exercise.des_eje}}
                        </textarea>
                                <label for="description">Descripción del ejercicio</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col-s2">
                                <input id="series" type="number" class="validate" name="series" required>
                                <label for="series">Series</label>
                            </div>
                            <div class="input-field col-s2">
                                <input id="cantidad" type="number" class="validate" name="cantidad" required>
                                <label for="cantidad">Cantidad</label>
                            </div>
                            <div class="input-field col-s2">
                                <select name="medicion" id="medicion" required>
                                    <option value="">Seleccione una opción</option>
                                    <option value="1">flexiones</option>
                                    <option value="2">minutos</option>
                                    <option value="3">repeticiones</option>
                                </select>
                                <label>Medidas</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="file-field input-field col-s6">
                                <div class="btn  purple lighten-2">
                                    <span class="">Imagen del ejercicio</span>
                                    <input type="file" name="image" required>
                                </div>
                                <div class="file-path-wrapper mt-4">
                                    <input class="file-path validate" type="text" name="img" id="img">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <button type="submit" class="btn blue lighten-2">Agregar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>