<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
</script>
<script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.js">
</script>
<script src="/js/request.js"></script>
<script src="/js/graficasAdmin.js"></script>
<style>
  .container {
    width: 100%;
    background: rgb(231, 224, 224);
    display: grid;
    justify-items: center;
  }
  
  .grafica, #total {
    width: 800px;
  }
</style>
<div class="container">
  <h3 id="total">El número total de usuarios es: </h3>
  <div id="chartGender" class="grafica"></div>
  <div id="chartAges" class="grafica"></div>
  <div id="chartFrecuency" class="grafica"></div>
  <div id="chartSicks" class="grafica"></div>
  <div id="chartExercises" class="grafica"></div>
  <div id="chartImc" class="grafica"></div>
</div>