<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/graficas.js"></script>
<script type="text/javascript" src="/js/test1.js"></script>
<!--
   <div align="center">
     <div id="graficaFrec_div" style="width: 1000px; height: 500px;"></div>
   </div>
-->
<div class="Pcontenido quitar">
    
    <div id="verGraficas"><center><input type="button" class="getData btn btn-info mb-4" id="getData" value="¡Comencemos!"></center></div>
    <!--<a href="/admin/GrafFreq">Graficar</a>-->
     <!--<div id="graficaFrec_div" style="width: 1000px; height: 500px;"></div>-->
     <div id="piechart" style="width: 900px; height: 500px;"></div>
     <div id="piechartIMC" style="width: 900px; height: 500px;" class="mt-5"></div>
     <div id="graphAge" style="width: 900px; height: 500px;" class="mt-5"></div>
     <div id="graphPesoS" style="width: 900px; height: 500px;" class="mt-5"></div>
     <div id="graphEst" style="width: 900px; height: 500px;" class="mt-5"></div>
     <div id="graphInt" style="width: 900px; height: 500px;" class="mt-5"></div>
     <div id="graphGen" style="width: 900px; height: 500px;" class="mt-5"></div>
</div>
   
</div>
