<style>
    body{
        background:  #fdebd0 ;    
    }
</style>
<div class="container">
    <div class="row">
        <div class="col s6 m6 l6">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <a href="/admin/exercises">
                            <img src="img/ejercicios.jpg" class="mimg" height="300px">
                            </a>
                        </div>
                        <div lass="card-action row">
                            <a href="/admin/exercises" class="col s6 btn blue lighten-2">Mis ejercicios</a>
                            <a href="/admin/addExercise" class="col s6 btn green accent-4">Agregar ejercicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m6 l6">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <a href="/admin/consejos">
                            <img src="img/tips.jpg" class="mimg" height="300px">
                            </a>
                        </div>
                        <div lass="card-action row">
                            <a href="/admin/consejos" class="col s6 btn blue lighten-2">Mis consejos</a>
                            <a href="/admin/addConsejos" class="col s6 btn green accent-4">Agregar consejo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m6 l6">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <a href="/admin/graficas">
                            <img src="img/graficas.jpg" class="mimg" height="300px">
                            </a>
                        </div>
                        <div lass="card-action row">
                            <a href="/admin/graficas" class="col s12 btn purple accent-1">Gráficas de usuarios</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m6 l6">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <a href="/admin/usuarios">
                            <img src="img/usuarios.jpeg" class="mimg" height="300px">
                            </a>
                        </div>
                        <div lass="card-action row">
                            <a href="/admin/usuarios" class="col s12 btn red accent-2">Usuarios en el sistema</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6 l6">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image">
                                <a href="/admin/users/chat">
                                <img src="img/chat.jpeg" class="mimg" height="300px">{{!-- asdasda --}}
                                </a>
                            </div>
                            <div lass="card-action row">
                                <a href="/admin/users/chat" class="col s12 btn red accent-2">Chat de
                                    soporte</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l6">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image">
                                <a href="/admin/consejos">
                                <img src="img/consejos.png" class="mimg" height="300px">
                                </a>
                            </div>
                            <div lass="card-action row">
                                <a href="/admin/consejos" class="col s12 btn red accent-2">Consejos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>