{{!-- Si buscan los estilos de aqui los cambie de lugar :b --}}
<link rel="stylesheet" href="/css/exercises.css">
<script src="/js/frecuencia.js"></script>
<div class="container">
    <div class="frecu-info">
        <p id="Reposo"></p>
        <p id="Optima"></p>
        <p id="Intensidad"></p>
    </div>
    <div class="tips">
        <div class="card border">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/sentadillas.jpg">
            </div>
            <div class="card-content" style="text-align: center;">
                <span class="card-title grey-text text-darken-4">Sentadillas</span>
                <button class="activator waves-effect waves-light btn">Ver</button>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Sentadillas<i
                        class="material-icons right">close</i></span>
                <p>Debes estar en posición de sentadillas, tus manos deben estar en la nuca de tu cabeza. En este
                    ejercicios debes bajar y al momento de subir realizas un salto y vuelves a bajar.
                    Realizar 2 series de 10 repeticiones.</p>
            </div>
        </div>
        <div class="card border">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/donkey-kicks.jpg">
            </div>
            <div class="card-content" style="text-align: center;">
                <span class="card-title grey-text text-darken-4">Donkey Kicks</span>
                <button class="activator waves-effect waves-light btn">Ver</button>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Donkey Kicks<i
                        class="material-icons right">close</i></span>
                <p>Este ejercicios es por excelencia el mejor para reafirmar glúteos.
                    Te colocas en posición de lagartija sólo que tus rodillas deben tocar el suelo, lo único que debes
                    hacer es subir una pierna mientras que la otra se encuentra abajo. La pierna que está elevada puede
                    permanecer unos
                    segundos haciendo pequeño movimientos de arriba hacia abajo (sin bajar totalmente).
                    Realizar 3 series de 10 repeticiones.</p>
            </div>
        </div>
        <div class="card border">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/img/doggy_hydrant.jpg">
            </div>
            <div class="card-content" style="text-align: center;">
                <span class="card-title grey-text text-darken-4">Doogy Hydrant</span>
                <button class="activator waves-effect waves-light btn">Ver</button>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Doogy Hydrant<i
                        class="material-icons right">close</i></span>
                <p>Este ejercicios ayuda a mejorar la zona centro de las piernas, es una de las más difíciles y molestas
                    para las mujeres. Para realizarlo, debes estar en posición como de un perro orinando, elevando la
                    pierna.
                    Realizar 2 series de 15 repeticiones.</p>
            </div>
        </div>
    </div>
</div>