<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/seguimiento.js"></script>
<link rel="stylesheet" href="/css/seguimiento.css">


<div class="contenedor">
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid" id="Agregar">
        <a class="waves-effect waves-light btn btn-floating btn-large red modal-trigger secondary-content"
            href="#seguimiento"><i class="material-icons">add</i></a>

    </div>
    <div class="grid"></div>
    <div class="grid" id="chart_div"></div>
    <div class="grid"></div>
    <div class="grid"></div>
    <div class="grid" id="datatable"></div>
    <div class="grid"></div>
</div>


{{!-- Modals --}}
<div id="seguimiento" class="modal">
    <div class="modal-content">
        <h4>¿Cuál ha sido tu avanze?</h4>
        <div class="input-field col s12">
            <i class="material-icons prefix pt-2">fitness_center</i>
            <input id="peso" type="text" name="peso">
            <label for="peso">Peso (kg)</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix pt-2">assignment</i>
            <input id="estatura" type="text" name="estatura">
            <label for="estatura">Estatura (cm)</label>
        </div>
        <div><button onClick="registrarSeguimiento()"
                class="modal-close waves-effect waves-green btn-flat btn">¡Listo!</button>
        </div>
    </div>
</div>