<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/graficas.js"></script>

<div class="Pcontenido quitar">
    <h1>Graficas</h1>
    <input type="button" class="getData" id="getData" value="Ver Graficas">
    <!--<a href="/admin/GrafFreq">Graficar</a>-->
     <!--<div id="graficaFrec_div" style="width: 1000px; height: 500px;"></div>-->
     <div id="piechart" style="width: 900px; height: 500px;"></div>
     <div id="piechartIMC" style="width: 900px; height: 500px;" class="mt-5"></div>

</div>