<style>
    body{
        background:  #fdebd0 ;    
    }
    .container{
        margin-top: 2rem;
    }
    .tips {        
        display: grid;
        grid-template-columns: repeat(3, 1fr);        
        grid-template-rows: minmax(2rem, auto);
        grid-gap: 3rem;        
    }

    p {
        text-align: justify;
    }
</style>
<div class="container">
    <div class="tips">
        {{#each notes}}
        <div class="col s12 m3 l3 ">
            <div class="row">
                <div class="card deep-purple accent-1">
                    <div class="card-content white-text text-flow">
                        <span class="card-title">{{title}}</span>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>