<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
     -->
    <link rel="shortcut icon" href="/img/honeypot_blanco_solo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="/css/styles.css">        
    <script src="/js/validator.min.js"></script>
    {{!-- <script src="https://kit.fontawesome.com/550c04f13c.js"></script> --}}
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">    
    {{!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>        --}}    
    <script src="/js/Chart.min.js"></script>        
    <link rel="stylesheet" href="/css/sidebar.css">
    <title>Health-Corporis</title>    
  </head>
  <body>
    
    {{> nav-user}}
    
    <noscript>
      <h1>¡Este servicio no funcionara correctamente sin JAVASCRIPT por favor activalo!</h1>
    </noscript>
    
    <div class="contenido abrir">
      <div class="fondo">
      <img src="/img/menuicono.png" alt="" class="menu-bar sticky-top">
        {{> flash}}
        {{{body}}}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>     
     <script src="/js/sidebar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/ejersval.js"></script>           
  </body>
</html>